<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>friendar</title>
  <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"-->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,700' rel='stylesheet' type='text/css'>
</head>
<body>

<nav class="navbar">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="container">
      <div class="row relative">
        <div class="navbar-header">
          <h1><a class="brand" href="/">friendar</a></h1>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->

          <ul class="navbar-content">
            <% if (user) { %>
              <li><a href="/events">Events</a></li>
              <li><a href="/groups">Gruppen</a></li>
              <li><a href="/user">Profil</a></li>
              <li class="dropdown">
                <a href="#" class="icon-earth" data-toggle="dropdown" role="button" id="notificationItem" aria-haspopup="true" aria-expanded="false">
                  <% if (user.notifications) { %>
                    <%if (user.unreadNotifications > 0) { %>
                      <span class="js-notify-unread badge"><%= user.unreadNotifications %></span>
                    <% } %>
                  <% } %>
                </a>
                <ul class="js-notifications dropdown-menu" id="notificationMenu" aria-labelledby="notificationMenu">
                  <% if (user.notifications) { %>
                  <% user.notifications.forEach(function(notification) { %>
                  <li class="js-notify-item <% if (notification.unread) { %>is-unread <% } %>" data-id="<%= notification.id %>"><a href="/notifications#not<%= notification.id %>"><%= notification.message %></a></li>
                  <% }); %>
                  <li role="separator" class="divider"></li>
                  <li><a href="/notifications">Alle Beanchrichtigungen</a></li>
                  <% } else { %>
                    Du hast keine Benachrichtigungen.
                  <% } %>
                </ul>
              </li>
            <% } else { %>
              <li><a href="#">Login</a>
								<ul class="js-login dropdown-menu" id="login-menu">
									<form method="POST" action="/login">
										<label for="inputUserId">Username</label> 
										<input type="text" id="inputUserId" name="name">
										<label for="inputUserPasswd">Passwort</label>
										<input type="text" id="inputUserPasswd" name="password" >	
									</form>	
								</ul>	
							</li>
              <li><a href="/signup">Registrieren</a></li>
            <% } %>
          </ul>
    </div> <!-- row -->
  </div> <!-- container -->

</nav>
